{% extends 'base.html' %}

{% block section %}
<!-- /Header -->
<header>
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
</header>
<!-- /Header -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-6">
                <div class="section-row">
                    <h3>Contact Information</h3>
                    <p>Contact NT Blog Team for more queries. Your queries are always welcome.</p>
                    <ul class="list-style">
                        <li><p><strong>Email:</strong> <a href="#">ntblog@email.com</a></p></li>
                        <li><p><strong>Phone:</strong> 01-5555556</p></li>
                        <li><p><strong>Address:</strong>Kathmandu, Nepal</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="section-row">
                    <h3>Send A Message</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <span>Email</span>
                                    <input class="input" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <span>Subject</span>
                                    <input class="input" type="text" name="subject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="input" name="message" placeholder="Message"></textarea>
                                </div>
                                <button class="primary-button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
{% endblock %}

