{% load static %}
<!-- post widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2>Most Read</h2>
    </div>

    {% for post in popular_posts %}
    <div class="post post-widget">
        <a class="post-img" href="{{post.get_absolute_url}}"><img src="{{post.image.url}}" alt="" height="70"></a>
        <div class="post-body">
            <h4 class="post-title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
        </div>
    </div>
    {% endfor %}

</div>
<!-- /post widget -->    

