{% load static %}
<!-- row -->
<div class="row">
    {% for post, color in hero_posts %}	
    <!-- post -->
    <div class="col-md-6">
        <div class="post post-thumb">
            <a class="post-img" href="{{post.get_absolute_url}}"><img src="{{ post.image.url }}" alt="{{ post.title }}" height="320"></a>
            <div class="post-body">
                <div class="post-meta">
                    <a class="post-category cat-{{color}}" href="{% url 'home:posts' post.category %}">{{ post.category }}</a>
                    <span class="post-date">{{ post.posted.date }}</span>
                </div>
                <h3 class="post-title"><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h3>
            </div>
        </div>
    </div>
    <!-- /post -->
    {% endfor %}
</div>
<!-- /row -->

<!-- row -->
<div class="row">
    <div class="col-md-12">
        <div class="section-title">
            <h2>Recent Posts</h2>
        </div>
    </div>					
    {% for post, color in recent_posts %}
    <!-- post -->
    <div class="col-md-4">
        <div class="post">
            <a class="post-img" href="{{post.get_absolute_url}}"><img src="{{post.image.url}}" alt="{{post.title}}" height="220"></a>
            <div class="post-body">
                <div class="post-meta">
                    <a class="post-category cat-{{color}}" href="{% url 'home:posts' post.category %}">{{post.category}}</a>
                    <span class="post-date">{{post.posted.date}}{% if post.author %} &nbsp;&nbsp;|&nbsp;&nbsp;{{post.author}}{% endif %}</span>
                </div>
                <h3 class="post-title"><a href="{{post.get_absolute_url}}">{{post.title|truncatechars:75}}</a></h3>
            </div>
        </div>
    </div>
    <!-- /post -->
    {% endfor %}            
</div>
<!-- /row -->

<!-- row -->
<div class="row">
    <div class="col-md-8">
        <div class="row">
            {% for post, color in sub_hero_posts  %}
            <!-- post -->
            <div class="col-md-12">
                <div class="post post-thumb">
                    <a class="post-img" href="{{post.get_absolute_url}}"><img src="{{post.image.url}}" alt="{{post.title}}" height="300"></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-{{color}}" href="{% url 'home:posts' post.category %}">{{post.category}}</a>
                            <span class="post-date">{{post.posted.date}} {% if post.author %}&nbsp;&nbsp;|&nbsp;&nbsp;{{post.author}}{% endif %}</span>
                        </div>
                        <h3 class="post-title"><a href="{{post.get_absolute_url}}">{{post.title|truncatechars:80}}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
            {% endfor %}

            {% for post, color in sub_posts %}
            <!-- post -->
            <div class="col-md-6">
                <div class="post">
                    <a class="post-img" href="{{post.get_absolute_url}}">
                        {% if post.image %}
                            <img src="{{post.image.url}}" alt="{{post.title}}" height="200">
                        {% else %}
                            <img src="{% static 'img/post-1.jpg' %}" height="200">
                        {% endif %}
                        
                    </a>
                    <div class="post-body">                   
                        <div class="post-meta">
                            <a class="post-category cat-{{color}}" href="{% url 'home:posts' post.category %}">{{post.category}}</a>
                            <span class="post-date">{{post.posted.date}} {% if post.author %}&nbsp;&nbsp;|&nbsp;&nbsp;{{post.author}} {% endif %}</span>
                        </div>
                        <h3 class="post-title"><a href="{{post.get_absolute_url}}">{{post.title|truncatechars:60}}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
            {% endfor %} 

            <div class="col-md-12">
            <br><br>
                <div class="post">
                    <a href="{% url 'home:posts' 'posts'%}">
                        <button class="primary-button center-block">See More</button>
                    </a> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {% include 'home/most-read-sidebar.html'%}
    </div>
</div>
<!-- /row -->
