{% extends 'base.html' %}
{% block title %}
Error 500
{% endblock title %}
{% block section %}
<!-- /Header -->
<header>
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <br><br><br>
                    <h1>Error 500 Internal Server Error</h1>
                    <br><br><br>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Server Error ! Please, try again in a while !!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
</header>
<!-- /Header -->
{% endblock %}

