{% extends 'base.html' %}

{% block section %}
<!-- /Header -->
<header>
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <ul class="page-header-breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                    </ul>
                    <h1>Error 404 Not Found</h1>
                    <br>
                    <p>The page you requested is not found</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
</header>
<!-- /Header -->
{% endblock %}

