{% extends 'base.html' %}

{% block section %}
<!-- /Header -->
<header>
    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1>Error 500 Internal Server Error</h1>
                    <br>
                    <p>Server Error ! Please, try again in a while !!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
</header>
<!-- /Header -->
{% endblock %}

