    {% extends 'registration/base.html' %}
    {% block section %}
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container"> 
            <!-- row -->
            <br>
            <div class="row">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}

                <h2 style="text-align:center"> Add images for your post ! </h2>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{formset.management_form}}
                    {% for field in formset %}
                        <div class="col-md-12 col-md-offset-1">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <br>
                                    <span>{{field}}</span>
                                    <br>
                                </div>
                            </div>
                            <br>
                        </div>
                    {% endfor %} 
                    <div class="col-md-12 col-md-offset-1">
                        <br>
                        <button class="primary-button">Submit</button>
                    </div>
                </form>
            </div>
            <!-- row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    {% endblock section %}


{% comment %} <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset }}
    {{ formset.management_form }}
    <input type="submit" value="Submit">
</form> {% endcomment %}