{% extends 'registration/base.html' %}
{% load static %}

{% block section %}
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <br> 
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-4">
                <h2>Change your Password </h2>
                <br>
                <form method = 'POST'>
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-primary" role="alert">
                    <button class="close" data-dismiss="alert">
                            <small><sup>x</sup></small>
                        </button>  <br> 
                    {% for field in form  %}
                        {% if field.errors %}                    
                            {{ field.errors }}
                        {% endif %} 
                    {% endfor %}                                        
                    </div>
                {% endif %}
                {{ form.as_p}}
                <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
